@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #5D734D, #F28907);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #8a4e05;
    width: 600px;
    padding: 10px;
    margin: auto;

}

h1 {
    color: #F2DAC4;
    text-align: center;
    text-shadow: 1px 1px 2px black ;
}

h2 {
    color: #F28907;
}

p {
    text-align: justify;

}